<h1>Welcome {{username}}</h1>

<form action="logout" method="POST">
  <input type="hidden" name="username" value="{{username}}">
  <button type="submit">Logout</button>
</form> 

<form action="audit" method="POST">
  <input type="hidden" name="username" value="{{username}}">
  <button type="submit">View User Audits</button>
</form>

{{#if audit}}
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Event ID</th>
            <th>Datetime</th>
        </tr>
    </thead>
    <tbody>
        {{#each audit}}
        <tr>
            <td>{{ this.username }}</td>
            <td>{{ this.event_id }}</td>
            <td>{{ this.datetime }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}